body {
    background-color:lightyellow;
    font-family: Arial;
    margin:0;
}

h1{
    color:brown;
    letter-spacing:2px;
    text-decoration: underline;
}

header{
    width:100%;
    background-color:white;
    border:1px dashed black;
    height:100px;
    padding:20px;
    color:black;
    text-align:center;
    font-weight:900;
}

nav{
    width:100%;
    background:black;
    color:white;
    height:20px;
    padding:10px;
}

aside{
    width:300px;
    height:500px;
    background: #dedede;
    float:left;
    padding:10px;
}
article{
    width:100px;
    float:left;
    background:purple;

}
section{
    BACKGROUND:white;
    padding:20px;

}

footer{
    clear:both;
    display:block;
    background:lightblue;
    text-align:center;
    padding:20px;
   /* height:300px;
    line-height:300px; */
}

img{
    max-width:100px;
}

.mypicture{
    max-width:300px;
    border:5px solid pink;
    border-radius: 50%;
}


a{
    color:white;
}

div.green{
    background:green;
    width:300px;
    height:400px;
    position:absolute;
    top:300px;
    right:25px;
}
.myclass{
    background:pink;
}
.class2{
    border:5px solid #000;
}
#bg{
    background:red;
}

button{
    background:pink;
    padding:5px 25px 5px 25px;
    border:1px solid hotpink;
    color:hotpink;
    font-weight:bold;
    border-radius:5px;
}
button:hover{
    background:blue;
}
::selection {
    color: red;
    background: yellow;
  }

  a:hover{
    color:red;
  }